<app-header></app-header>

<div class="container">
    <!--check if user is lab technician or radiologist-->
    <div *ngIf="true">
        <mat-card-title>Investigations</mat-card-title>
        <table mat-table [dataSource]="investigations" *ngIf="investigations.length > 0; else noInvestigations">
            <ng-container matColumnDef="test">
                <th mat-header-cell *matHeaderCellDef> Test ID </th>
                <td mat-cell *matCellDef="let investigation"> {{testsService.getTest(investigation.testId).testName}}</td>
            </ng-container>

            <ng-container matColumnDef="patient">
                <th mat-header-cell *matHeaderCellDef> Patient ID </th>
                <td mat-cell *matCellDef="let investigation"> {{patientsService.getPatient(investigation.patientId).name}}</td>
            </ng-container>

            <ng-container matColumnDef="doctor">
                <th mat-header-cell *matHeaderCellDef> Doctor ID </th>
                <td mat-cell *matCellDef="let investigation"> {{staffsService.getStaff(investigation.doctorId).name}}</td>
            </ng-container>


            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let investigation">
                    <span *ngIf="investigation.done; else investigationNotDone">Finished</span>
                    <ng-template #investigationNotDone>
                        <button mat-raised-button color="primary" *ngIf="!investigation.submit; else resultForm" (click)="investigation.submit = true">
                            Submit Results
                        </button>
                        <ng-template #resultForm>
                            <mat-form-field>
                                <input matInput placeholder="Result" required [formControl]="resultCtrl">
                            </mat-form-field>
                            <button mat-raised-button (click)="submitResults(investigation.id)" type="button">Submit Result</button>
                        </ng-template>
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedInvestigationsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedInvestigationsColumns;"></tr>
        </table>
        <ng-template #noInvestigations>
            <p align="center">No Investigations</p>
        </ng-template>
    </div>
</div>
