.name-form-field {
  width: 30%;
  margin-right: 3%;
}

.block {
  display: block;
}

.full-name-form-field {
  width: 35%;
  margin-bottom: 3%;
}

span, p {
  font-weight: bold;
}

.margin-right {
  margin-right: 3%;
}

.datepicker-form-field {
  width: 20%;
  margin-top: 3%;
}

.age-span {
  margin-left: 5%;
}

.birth-year-span {
  margin-left: 5%;
}

.address-form-field {
  width: 25%;
  margin-right: 3%;
}

.small-address-form-field {
  margin-right: 3%;
  width: 15%;
}

button {
  color: blue;
  margin-top: 5%;
  margin-right: 6%;
  margin-left: 6%;
  width: 20%;
}

.add-emergency-contact-button {
  width: 30%;
}

.reset-button {
  color: red;
}

.cancel-button {
  color: black;
}
