mat-card {
  padding-bottom: 5%;
}

.search-form-field {
  width: 40%;
  margin-right: 5%;
}

table {
  width: 100%;
}

th {
  font-size: medium;
}

.name-column {
  width: 50%;
}

.column {
  width: 20%;
}

.row {
  cursor: pointer;
}
