mat-card {
  padding-left: 5%;
  margin: 3% 3% 3% 15%;
}

.form-field {
  display: block;
  width: 40%;
}

.staff-form-button {
  margin-top: 2%;
  margin-right: 6%;
  margin-left: 6%;
  width: 20%;
}

.add-staff-button {
  color: blue;
}

.reset-staff-form-button {
  color: red;
}

.search-form-field {
  width: 40%;
  margin-right: 5%;
}

table {
  width: 100%;
}
