<app-header></app-header>

<div class="container">
    <mat-card>
        <img src="../../../assets/staff.png" class="card-img">
        <p class="card-p">Add, disable or enable staff accounts</p>
        <button mat-raised-button class="mat-card-content card-button" routerLink="/manage-staff">Manage Staff</button>
    </mat-card>
    <mat-card>
        <img src="../../../assets/admin.png" class="card-img">
        <p class="card-p">Add or remove system administrators</p>
        <button mat-raised-button class="mat-card-content card-button" routerLink="/manage-administrators">Manage Administrators</button>
    </mat-card>
    <!--<mat-card>-->
        <!--<img src="../../../assets/log.png" class="card-img">-->
        <!--<p class="card-p">View and manage system log</p>-->
        <!--<button mat-raised-button class="mat-card-content card-button" routerLink="/system-log">System Log</button>-->
    <!--</mat-card>-->
    <mat-card>
        <img src="../../../assets/resources.png" class="card-img">
        <p class="card-p">Manage system resources</p>
        <button mat-raised-button class="mat-card-content card-button" routerLink="/manage-resources">Manage Resources</button>
    </mat-card>
</div>
