.search-form-field {
  width: 40%;
}

mat-card-title {
  margin-top: 3%;
}

table {
  width: 100%;
}

.row {
  cursor: pointer;
}

.hint-p {
  font-size: small;
  color: gray;
}

.new-chat-button {
  font-size: large;
  border-radius: 20px;
  width: 5%;
  height: 5%;
  //float: right;
  margin-left: 90%;
}

.receivers-select {
  width: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

//hr {
//  margin-top: 5%;
//  margin-bottom: 5%;
//  width: 100%;
//}

//.message-div {
//  width: 100%;
//}

//.send-to-select-form-field {
//  width: 40%;
//}

//.message-input-form-field {
//  display: block;
//  width: 70%;
//}

//.send-button {
//  width: 100px;
//}
