.resource-card {
  margin-top: 1%;
}

.input-div {
  margin-left: 15%;
}

.input-form-field {
  width: 55%;
  margin-right: 10%;
}

table {
  width: 100%;
}

th {
  font-size: medium;
}

.name-column {
  width: 50%;
}

.column {
  width: 20%;
}
