mat-card {
  width: 30%;
  margin-top: 14%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
}

h6 {
  font-size: large;
}

.form-field {
  display: block;
  align-self: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-top: 5%;
}
